body{
    margin:0;
    padding:0;    
}
h1{
    margin:0;
}
.container{
    font-family: Arial;
    display: grid;
    height: 100vh;
    padding: 0 10px;
    /* gap: 10px; */
    grid-template-columns: minmax(300px,max-content) 1fr;
    grid-template-rows: minmax(80px,max-content) 1fr minmax(50px,max-content);
    /* border: 1px solid rgb(80, 145, 27); */
    border-radius: 5px; 
}
.container div {  
    /* background-color: #295AC4;  */
    text-align: center; 
}
.header{    
    grid-column: 1/3;
    grid-row: 1/2;
    color: white;
    background-color: #295AC4;
}
.header div{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.nav{
    grid-column: 1/2;
    grid-row: 2;
}
.nav div{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;    
    align-items: start;
    background-color: #FDC194;
    color: #41300B;
    padding:20px 15px;
}
.nav-li{
    margin-bottom: 10px;
    list-style:none;
}
.nav a:hover{
    color: #295AC4;
}
.nav a{
  text-decoration: none;
  color: #41300B;
}
.content{
    grid-column: 2/3;
    grid-row: 2;
    background-color: white;
}
.con{
    background-color: white;
    /* height: 100%; */
    /* box-sizing: border-box; */
    /* padding: 20px 15px; */
    display: flex;
}
.footer{
    grid-column: 1/3;
    grid-row: 3;
    background-color: #295AC4;
}
.footer div{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
}
.device-container{
    display: flex;
    padding: 20px 15px;
    background-color: #fff;
    /* height: 100%; */
    width: 700px;    
    flex-direction: column;
    color: #295AC4;
    margin: 0 auto;
}
.dev-img{
    display: flex;
    justify-content: center;
}
.device-row{
    display:flex;
    justify-content: flex-start;    
}
.device-row div{
    width: 50%;
    /* align-items: center; */
	text-align: start;
	border-bottom: 1px solid #FDC194;
}
.name-row{
    font-weight: bold;
	padding-left: 10px;
}
.device-edit{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.devices-row{
	padding: 0 10px;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	align-items: center;
	border-bottom: 1px solid #FDC194;
}
.devices-left{
	display: flex;
	padding-left: 10px;
	text-align: left;
}
.devices-container{
	padding: 0 15px;
	color: #295AC4;
}
.scena-container{
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
	color: #295AC4;
}
.scenario-container{
	padding: 0 15px;
	color: #295AC4;
	width: 80%;
}
.scenario-row{
	padding: 0 10px;
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 10px;
	align-items: center;
	border-bottom: 1px solid #FDC194;	
}
.scenario-row p{
	text-align: left;
}
.scenario-edit{
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}


/* ----------------------------------------------------------------------------------------------------------- */
.forms{
    width: 800px;
    margin: 20px auto ;
    background-color: #295AC4;
    color: white;
    border-radius: 10px;
    
    
}

.form_water_pump{   
    text-align: right;
    background-color: #295AC4;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

form div{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

label{
    color: white;    
}

input{
    background-color: rgb(196, 183, 183);
    border-radius: 10px;
    padding: 5px;
    border: rgb(196, 183, 183);
    width: 60%;
}

select{
    padding: 5px;
    border-radius: 10px;
    color: white;
    background-color: rgb(112, 93, 93);
    cursor: pointer;
    width: 60%;
}
.input_sub{
    text-align: center;
    width: 100px;
    background-color: #ffc107;
    color: #6f42c1;;
}

input:focus{
    background-color: white;
    border:white;
}
.input_but{
    width: 60px;
    margin-left: 15px;
    background-color: #295AC4;
    color: #fff;
}
