<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/static/css/style.css'>
</head>
<body>
  <div class="container">
    <div class="header">
      <div>
        <h1>Smart House</h1>   
      </div>         
    </div>
    <div class="nav">
      <div>
        <li class="nav-li">
          <a href="{% url 'index' %}">Главная</a>
        </li>
        <li class="nav-li">
          <a href="{% url 'devices' %}">Устройства</a>
        </li>
        <li class="nav-li">
          <a href="{% url 'get_data' %}">Запуск цикла опроса датчиков</a>
        </li>
        <li class="nav-li">
          <a href="{% url 'scenarios' %}">Сценарии</a>
        </li>
        <li class="nav-li">
          <a href="{% url 'connect_decvice' %}">Добавление устройств</a>
        </li>
      </div>     
    </div>
    <div class="content">
      <div class="con">
        {% block content %}
        {% endblock content %}
      </div>
    </div>
    <div class="footer">
      <div>
        {% block footer %}
          <p>
            Copyright Все права защищены
          </p>
        {% endblock footer %}
      </div>
    </div>
  </div>
</body>
</html>