{% extends "smart_house/base.html" %}
{% block content %}  
  {% if devices %}
  <div class="devices-container">
    <div class="devices-row">
      <div>
        <p class="name-row">Изображение</p>
      </div>
      <div>
        <p class="name-row">Название</p>
      </div>
      <div>
        <p class="name-row">Адрес IEEE</p>
      </div>
      <div>
        <p class="name-row">Качество сигнала</p>
      </div>
    </div>
    {% for device in devices %}
      <div class="devices-row">
        <div>
          <img src="{{ device.devices_type.image.url }}" alt="connect" style="max-height:100px">
        </div>
        <div class="devices-left"><a href="{{ device.id }}">{{ device.name }}</a></div>
        <div class="devices-left"><p>{{ device.address }}</p></div>
        <div><p>{{device.json_data.linkquality}}</p></div>
      </div>
    {% endfor %}
  </div>
  {% endif %}
{% endblock content %}