{% extends "smart_house/base.html" %}
{% block content %}
  <div class="row text-center text-dark 1h-2">
    <div class="row text-center">
      <div class="col-12 text-center">
        <img src="{{ device.devices_type.image.url }}" alt="connect" style="max-height:150px">
      </div>
    </div>
    <!-- -------------------------------------------------------------------------------------------------- -->
    {% if device_type.name == 'socket_220' %}
    <div class="row text-center">
      <div class="col-4 text-start">
        <p>Наименование</p>
      </div>
      <div class="col-6 text-start">
        <p>{{ device.name }}</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-4 text-start">
        <p>Тип датчика</p>
      </div>
      <div class="col-6 text-start">
        <p> {{ device.devices_type.name }}</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-4 text-start">
        <p>Адрес IEEE</p>
      </div>
      <div class="col-6 text-start">
        <p> {{ device.address }}</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-4 text-start">
        <p>Напряжение</p>
      </div>
      <div class="col-6 text-start">
        <p> {{ device.json_data.voltage }} V</p>          
      </div>
    </div>
       <div class="row text-center">
      <div class="col-4 text-start">
        <p>Мощность</p>
      </div>
      <div class="col-6 text-start">
        <p> {{ device.json_data.power }} W</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-4 text-start">
        <p>Состояние</p>
      </div>
      <div class="col-6 text-start">       
        <p>
        {% if device.json_data.state == "OFF" %}
          Выкл.
        {% endif %}
        {% if device.json_data.state == "ON" %}
          Вкл.
        {% endif %}
        </p>
        <form action= '{% url 'socket_220' %}' method="POST">
          {% csrf_token %}
          <input class="input_but" type="submit" value={% if device.json_data.state == "OFF" %} "Вкл." {% endif %} "Выкл."/>
          <input type="hidden" name="id" value="{{device.id}}" />
          <input type="hidden" name="state" value="{{device.json_data.state}}" />
        
      </div>
    </div>
    <div class="row text-center">
      <a href="{% url 'device_edit' device.pk %}">Редактировать</a>
      <a href="{% url 'device_del' device.pk %}">Удалить</a>
    </div>
    {% endif %}
    <!-- ------------------------------------------------------------------------------------------------- -->
    {% if device_type.name == 'Датчик температуры воздуха' %}
    <div class="row text-center">
      <div class="col-4 text-start">
        <p>Наименование</p>
      </div>
      <div class="col-6 text-start">
        <p>{{ device.name }}</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-4 text-start">
        <p>Тип датчика</p>
      </div>
      <div class="col-6 text-start">
        <p> {{ device.devices_type.name }}</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-4 text-start">
        <p>Адрес IEEE</p>
      </div>
      <div class="col-6 text-start">
        <p> {{ device.address }}</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-4 text-start">
        <p>Напряжение</p>
      </div>
      <div class="col-6 text-start">
        <p> {{ device.json_data.voltage }} mV</p>          
      </div>
    </div>    
    <div class="row text-center">
      <div class="col-4 text-start">
        <p>Температура</p>
      </div>
      <div class="col-6 text-start">
        <p> {{ device.json_data.temperature }} &deg;C</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-4 text-start">
        <p>Влажность воздуха</p>
      </div>
      <div class="col-6 text-start">
        <p> {{ device.json_data.humidity }} %</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-4 text-start">
        <p>Атмосферное давление</p>
      </div>
      <div class="col-6 text-start">
        <p> {{ device.json_data.pressure }} hPa</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-4 text-start">
        <p>Состояние батареи в %</p>
      </div>
      <div class="col-6 text-start">
        <p> {{ device.json_data.battery }} %</p>
      </div>
    </div>
    <div class="row text-center">
      <a href="{% url 'device_edit' device.pk %}">Редактировать</a>
      <a href="{% url 'device_del' device.pk %}">Удалить</a>
    </div>
    {% endif %}
    <!-- ------------------------------------------------------------------------------------------------ -->
    {% if device_type.name == 'Датчик протечки воды' %}
    <div class="row text-center">
      <div class="col-4 text-start">
        <p>Наименование</p>
      </div>
      <div class="col-6 text-start">
        <p>{{ device.name }}</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-4 text-start">
        <p>Тип датчика</p>
      </div>
      <div class="col-6 text-start">
        <p> {{ device.devices_type.name }}</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-4 text-start">
        <p>Адрес IEEE</p>
      </div>
      <div class="col-6 text-start">
        <p> {{ device.address }}</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-4 text-start">
        <p>Напряжение</p>
      </div>
      <div class="col-6 text-start">
        <p> {{ device.json_data.voltage }} mV</p>          
      </div>
    </div>
    <div class="row text-center">
      <div class="col-4 text-start">
        <p>Температура устройства</p>
      </div>
      <div class="col-6 text-start">
        <p> {{ device.json_data.device_temperature }} &deg;C</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-4 text-start">
        <p>Протечка воды</p>
      </div>
      <div class="col-6 text-start">      
        {% if device.json_data.water_leak == False %}
          <p>Не бнаружена</p>
        {% endif %}
        {% if device.json_data.water_leak == True %}
          <p>Обнаружена</p>
        {% endif %}        
      </div>
    </div>
    <div class="row text-center">
      <a href="{% url 'device_edit' device.pk %}">Редактировать</a>
      <a href="{% url 'device_del' device.pk %}">Удалить</a>
    </div>
    {% endif %}
    <!-- ------------------------------------------------------------------------------------------ -->
     {% if device_type.name == 'Датчик дыма' %}
    <div class="row text-center">
      <div class="col-4 text-start">
        <p>Наименование</p>
      </div>
      <div class="col-6 text-start">
        <p>{{ device.name }}</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-4 text-start">
        <p>Тип датчика</p>
      </div>
      <div class="col-6 text-start">
        <p> {{ device.devices_type.name }}</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-4 text-start">
        <p>Адрес IEEE</p>
      </div>
      <div class="col-6 text-start">
        <p> {{ device.address }}</p>
      </div>
    </div>
    {% if device.json_data.voltage %}
    <div class="row text-center">
      <div class="col-4 text-start">
        <p>Напряжение</p>
      </div>
      <div class="col-6 text-start">
        <p> {{ device.json_data.voltage }} mV</p>          
      </div>
    </div>
    {% endif %}
    <div class="row text-center">
      <div class="col-4 text-start">
        <p>Присутствие дыма</p>
      </div>
      <div class="col-6 text-start">      
        {% if device.json_data.smoke == False %}
          <p>Не бнаружено</p>
        {% endif %}
        {% if device.json_data.smoke == True %}
          <p>Обнаружено</p>
        {% endif %}        
      </div>
    </div>
    <div class="row text-center">
      <a href="{% url 'device_edit' device.pk %}">Редактировать</a>
      <a href="{% url 'device_del' device.pk %}">Удалить</a>
    </div>
    {% endif %}
    <!-- -------------------------------------------------------------------------------------------------------------- -->
    {% if device_type.name == 'Новое устройство' %}    
    <div class="row text-center">
      <a href="{% url 'device_edit' device.pk %}">Редактировать</a>
      <a href="{% url 'device_del' device.pk %}">Удалить</a>
    </div>
    {% endif %}
  </div>
  {% endblock content %}