{% extends "smart_house/base.html" %}
{% block content %}
<div class="forms">  
		<form class="form_water_pump" action="" method="POST">
			{% csrf_token %}			
				{% for field in form %}
          <div class="form_row" >
            <div class="label">            
              {{ field.label_tag }}
            </div>
            <div class="input">
              {{ field }}
            </div>
          </div>
          <div class="form_row">{{ field.errors }}</div>
				{% endfor %}
			
			<input class="input_sub" type="submit" value="Отправить">
    </form>
</div>
{% endblock content %}