{% extends "smart_house/base.html" %}
{% block content %}
  <div class="scenario-container">
    {% if scenario.scenario_type.name == 'Насосная станция' %}      
        <div class="scenario-row">
          <p class="name-row">Наименование</p>
          <p>{{ scenario.name }}</p>
        </div>
        {% for device in scenario.devices.all %}
          <div class="scenario-row">
        {% if device.devices_type.name == "socket_220" %}
          <p class="name-row">Розетка</p>
        {% else %}
          <p class="name-row">Датчик протечки</p>
        {% endif %}
          <p>
              {{device.name}}
          </p>
        </div>        
        {% endfor %}      
  <div class="scenario-edit">
    <a href="{% url 'water_pump_scenarios_edit' scenario.pk %}">Редактировать</a>
    <a href="{% url 'water_pump_scenarios_delete' scenario.pk %}">Удалить</a>
  </div>
    {% endif %}
  </div>
{% endblock content %}