{% extends "smart_house/base.html" %}
{% block content %}
  <div class="row text-center text-dark 1h-2">
      <h4>Список сценариев в БД</h4>
  </div>
  <div class="row text-start ">
      <a href="{% url 'wate_pump_form' %}">Добавить сценарий</a>
      <hr>
  </div>
  
    {% if scenarios %}     
        {% for scenario in scenarios %}
          <div class="text-start">
            <a href="{{ scenario.id }}">{{ scenario.name }}</a>            
          </div>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <p>В базе нет сценариев</p>
    {% endif %}
  {% endblock content %}